@import'My Project.css';
@import'My skills.css';
@import'About.css';


* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: #111;

    }

    body {
      font-family: Arial, sans-serif;
      background-color: black; 
      line-height: 5.5;
      
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #111;
    }

    header .logo {
      font-size: 1.5rem;
      color: red;
      margin-left: 100px;
    }

    nav {
      
    }

    nav a {
      margin-left: 1.5rem;
      font-size: 1rem;
      color: #dad3d3;
      text-decoration: none;
      padding: 20px;
    }

    nav a:hover {
      color: #ff4d4d;
    }

    main .hero {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 2rem;
    }

    .text-area {
      flex: 1 1 300px; 
      max-width: 600px;
      padding: 1rem;
      margin-top: 30px;
    }

    .text-area .greet {
      font-size: 3rem;
      color: red;
      margin-bottom: 0.3rem;
    }

    .text-area a{
        color: white;
    }

    .text-area .name {
      font-size: 1.5rem;
      color: #b60f0f;
      margin-bottom: 0.5rem;
    }

    .text-area .title {
      font-size: 2.2rem;
      color: red;
      margin-bottom: 1rem;
      text-decoration: none;
    }

    .text-area .cta-button {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.6rem 1.4rem;
      background-color: red;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;

    }

    .text-area .cta-button:hover {
      background-color: #070707;
    }

    .image-area {
      flex: 1 1 250px;
      max-width: 400px;
      padding: 1rem;
      margin-top: 40px;
    }

    .image-area img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: block;
      

    }

    
    .footer-social {
      text-align: center;
      margin: 2rem 0;
    }
    .footer-social img {
      width: 28px;
      height: 28px;
      margin: 0 0.5rem;
      vertical-align: middle;
    }

    
    @media (max-width: 768px) {
      .hero {
        flex-direction: column;
        padding: 1rem;
      }
      .text-area, .image-area {
        max-width: 100%;
      }
      .text-area .greet {
        font-size: 2.5rem;
      }
      .text-area .title {
        font-size: 1.8rem;
      }
    }